*{
    box-sizing:border-box;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(230deg, rgba(131, 24, 24, 0.842), rgba(4, 4, 112, 0.863));
}
h1, h2{
    text-transform: capitalize;
}
#headline{
    width: 100%;
    height: 30%;
    margin: 0;
    padding: 3%;
    display: block;
    background-color: rgb(129, 92, 92);
    text-align: center;
    justify-content: center;
    color: rgb(247, 211, 141);
    
}
#nav_container{
    margin: 0;
    padding: 0;
    
}
nav{
    margin: 0;
    padding: 0;
    display: block;
    
}
nav ul{
    background-color: rgb(134, 110, 73);
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    margin: 0;
    
}
nav li{
    margin: 5px;
    padding: 5px;
    width: 10%;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
} 
nav li a{
    touch-action: none;
    color: bisque;
    text-decoration: none;
    font-size: 0.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#profile-container{
    margin: 5px;
    padding: 0;
    display: flex;
}
#profile-img{
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0px 10px 10px 0px;
    height: 100%;
    width: 200px;
}
#profile_item{
    display: block;

}
#mybio_header{
    display: block;
text-align: center;
justify-content: center;
align-items: center;
text-decoration: none;
font-size: 2em;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 4em;
color: black;
margin: 0;
padding: 0;
width: 100%;
}
#mybio_p{
text-align: center;
font-size: large;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 25px;
margin: 0;

}

#project-header{
align-items: center;
justify-content: center;
width: 100%;
padding: 25px;
margin: 5px;
color: lightgreen;
text-align: center;
}
.project-container{
    width: 300px;
    height: 300px;
    border-radius: 15%;
    justify-content: center;
    padding: 5px;
    align-items: center;
    box-shadow: 0px 2px 2px 0px rgb(17, 16, 16) ;
    

}
#projects-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
#projects-container a{
    touch-action: none;
    text-decoration: none;
    color: black;
    text-align: center;
    text-overflow: clip;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#contact-container{
    background-color: rgba(139, 6, 6, 0.829);
   
}
.contact-items{
    display: block;
    padding: 3px;
    touch-action: none;
    color: blanchedalmond;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     align-items: center;
    justify-content: center;
}
.contact-items a{
    color: black;
    text-decoration: none;
    align-items: center;
    text-align: center;
    justify-content: center;
}

@media (max-width: 500px) {
*{
    margin: 0px;
    padding: 5px;

}
body{
    width: auto;
    height: auto;

}
#headline{
    margin: 0;
    padding: 0;
    text-overflow: clip;
}
img{
    width: 100px;
    height: 100px;
    margin: 0;
}
h1 h2 p{
    text-overflow: clip;
}

#profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
#profile-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
nav ul{
    padding: 0;
}
    nav li{
    width: 16%;
    text-align: center;
    border: 0;
}
nav li a{
    font-size: 0.6em;
}
#mybio_header{
    width: auto;
    font-size: medium;
}
#mybio_p{
    padding: 0;
    font-size: medium;
}
.project-container{
    width: 200px;
    height: 200px;
    border-radius: 15%;
    align-items: center;
    padding: 3px;
    align-items: center;
    

}
}